.landing {
  padding: 70px 0 0 140px;
  background-image: url("../../../assets/img/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 830px;
}
