.landing {
  min-height: calc(100vh - 3px);
  background-image: url("../../assets/img/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 70px 0 0 140px;
}

.landing__text {
  position: absolute;
  top: 834px;
  right: 137px;
  max-width: 300px;
  line-height: 24px;
  text-align: end;
}

.landing__card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  max-width: 380px;
  min-width: 380px;
  height: 100%;
  padding: 38px 30px 30px 29px;
}

.landing__datepicker {
  display: flex;
  justify-content: space-between;
}