.enter {
    padding: 7px 19px;
    border-radius: 22px;
    border: 2px solid rgb(188, 156, 255);
  }
  
  .enter span {
    color: rgb(188, 156, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
  }