.dropdown-checkbox{
    margin-top: 30px;
}

.dropdown-checkbox__title {
  color: rgb(31, 32, 65);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
