.datepicker {
  min-width: 380px;
}

.datepicker__card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  max-width: 380px;
  min-width: 380px;
  padding: 39px 30px 30px 29px;
}

.datepicker__inputs-title {
  padding-bottom: 5px;
}

.datepicker__inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 21px;
}

.datepicker__departure-title {
  text-transform: uppercase;
}

.datepicker__yearsandmonths {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.datepicker__month {
  color: rgb(31, 32, 65);
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: right;
}

.datepicker__year {
  color: rgb(31, 32, 65);
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 100px;
}

.datepicker__input {
  width: 150px;
  height: 44px;
  padding-left: 15px;
  padding-right: 54px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.datepicker__box {
  top: 100%;
  z-index: 100;
  margin-top: 2px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.25);
}

.datepicker__days,
.datepicker__dates {
  display: grid;
  grid-template-columns: repeat(7, 32px);
  gap: 10px;
  margin-block: 10px;
}

.datepicker__days {
  text-align: center;
}

.datepicker__dates {
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}

.datepicker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
