.dropdown {
  position: relative;
}

.dropdown__select {
  width: 319px;
  height: 44px;
  padding-left: 15px;
  padding-right: 54px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.dropdown__caret {
  width: 0;
  height: 0;
}

.dropdown__caret-rotate {
  transform: rotate(180deg);
}

.dropdown__menu {
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  display: block;
  z-index: 3;
}

.dropdown__menu-open li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.dropdown__menu-open {
  display: block;
  opacity: 1;
}

.dropdown__menu {
  padding: 13px 7px 13px 15px;
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
}

.dropdown__item-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dropdown__item-input{
  width: 30px;
}