.dropdown__select {
  position: relative;
  padding: 13px 15px;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.dropdown__caret-rotate {
  transform: rotate(180deg);
}

.dropdown__menu {
  z-index: 100;
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 13px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.dropdown__menu-open {
  opacity: 1;
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.dropdown__item-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dropdown__item-text {
  color: rgb(31, 32, 65);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
}

.dropdown__item-input {
  width: 30px;
  text-align: center;
}

/* Убираем стрелочки для input типа number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown__btn {
  width: 30px; /* Ширина кружка */
  height: 30px; /* Высота кружка */
  background-color: transparent; /* Цвет фона */
  border-radius: 50%; /* Закругление углов, чтобы получился кружок */
  display: flex; /* Используем flexbox для центрирования содержимого */
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
  font-size: 18px; /* Размер шрифта для знака минус */
  color: rgba(31, 32, 65, 0.5);
  border-color: rgba(31, 32, 65, 0.5);
}

.dropdown__buttons {
  display: flex;
  justify-content: space-between;
}
.dropdown__buttons span {
  color: #bc9cff;
  text-transform: uppercase;
}
