.footer {
  background-color: #fff;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 100px 140px;
}

.footer__about {
  max-width: 260px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  min-width: 560px;
}

.footer__subscribe {
  margin-left: 20px;
  max-width: 260px;
}

.footer__subscribe-input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  color: rgba(31, 32, 65, 0.75);
  font: 400 1rem / 24px montserrat, arial, sans-serif;
  height: 42px;
  outline: none;
  padding: 0 0 0 14px;
}
