.footer {
  padding: 18px 140px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__description {
  width: 260px;
}

.footer__description-text{
  margin-top: 20px;
}

.footer__link {
  color: rgba(31, 32, 65, 0.5);
}

.footer__subscribe{
  width: 260px;
}

.footer__list{
  flex: 1 1 200px;
}