.landing {
  min-height: calc(100vh - 67px);
  background-image: url("../images/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 70px 0 0 140px;
}

.landing__text{
  font-size: 90px;
}