block vars
    - var siteTitle = 'title of this site';

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link type="image/x-icon" href="../assets/favicon.ico" rel="shortcut icon">
        link(rel="stylesheet" href="../styles/landing.scss")
        link(rel="stylesheet" href="../styles/header.scss")
        link(rel="stylesheet" href="../styles/footer.scss")
        link(rel="stylesheet" href="../styles/settings.scss")
        link(rel="stylesheet" href="../styles/fonts.scss")
        link(rel="stylesheet" href="../styles/normalize.scss")
        title #{siteTitle}
    body
        block content
        script(src="../js/datapicker.js")