extends base

include mixin

block vars
  - var siteTitle = "Landing"

block content
  include header
  main
    section(class="landing")
      div(class="landing__container container")
        div(class="landing__roomcard")
          +input
          p(class="landing__text")
  include footer