mixin datepicker
    div(class="datepicker")
        div(class="datepicker__container")
            input(class="datepicker__input" type="text" placeholder="ДД.ММ.ГГГГ")
            input(class="datepicker__input datepicker__input-to" type="text" placeholder="ДД.ММ.ГГГГ")
            div(class="datepicker__box" hidden)
                div(class="datepicker__header")
                    button(class="btn-reset") next
                    div
                        select(class="datepicker__month")
                            option
                        input(class="datepicker__year" value="2024" type="number")
                    button(class="btn-reset") prev
                div(class="datepicker__days")
                    span Пн
                    span Вт
                    span Ср
                    span Чт
                    span Пт
                    span Сб
                    span Вс
                div(class="datepicker__dates")
                    button(disabled) 29
                    button(disabled) 30
                    button(disabled) 31
                    button(disabled) 1
                    button(disabled) 2
                    button 3
                    button 4
                    button 5
                    button 6
                    button 7
                    button 8
                    button 9
                    button(class="today") 10
                    button 11
                    button 12
                    button 13
                    button 14
                    button 15
                    button 16
                    button 17
                    button 18
                    button 19
                    button(class="selected") 20
                    button 21
                    button 22
                    button 23
                    button 24
                    button 25
                    button 26
                    button 27
                    button 28
                    button 29
                    button 30
                    button 31
                    button 1
                div(class="datepicker__footer")
                    button очистить
                    button применить