mixin datepicker
    div(class="datepicker")
        div(class="datepicker__card")
            h1(class="datepicker__card-title") Найдём номера под ваши пожелания
            div(class="datepciker__form")
                div(class="datepicker__inputs")
                    div(class="datepicker__arrival")
                        h3(class="datepicker__inputs-title") прибытие
                        input(class="datepicker__input" type="text" placeholder="ДД.ММ.ГГГГ")
                    div(class="datepicker__departure")
                        h3(class="datepicker__inputs-title") выезд
                        input(class="datepicker__input datepicker__input-to" type="text" placeholder="ДД.ММ.ГГГГ")
                +dropdown
                div(class="datepicker__box" hidden)
                    div(class="datepicker__header")
                        button(class="btn-reset datepicker__prev datepicker__btn")
                            img(src="../images/arrow-left.svg" alt="arrow-left")
                        div(class="datepicker__yearsandmonths")
                            select(class="datepicker__month")
                                option Январь
                                option Февраль
                                option Март
                                option Апрель
                                option Май
                                option Июнь
                                option Июль
                                option Август
                                option Сентябрь
                                option Октябрь
                                option Ноябрь
                                option Декабрь
                                input(class="datepicker__year" type="number" value="2024")
                        button(class="btn-reset datepicker__next datepicker__btn")
                            img(src="../images/arrow-right.svg" alt="arrow-right")
                    div(class="datepicker__days")
                        span Пн
                        span Вт
                        span Ср
                        span Чт
                        span Пт
                        span Сб
                        span Вс
                    div(class="datepicker__dates")
                    div(class="datepicker__footer")
                        button(class="datepicker__delete btn-reset datepicker__btn") очистить
                        button(class="datepicker__submit btn-reset datepicker__btn") применить
            button(class="btn-reset datepicker__find")
                span(class="datepicker__find-text") подобрать номер
                span(class="datepicker__find-arrow")
mixin dropdown
    div(class="dropdown")
        h3 гости
        div(class="dropdown__select")
            span(class="dropdown__selected") Сколько гостей
            div(class="dropdown__caret")
                img(src="../images/arrow-down.svg" alt="arrow-down")
        ul(class="dropdown__menu list-reset")
            li(class="dropdown__item")
                p(class="dropdown__item-text") взрослые
                div(class="dropdown__item-controls")
                    button(class="dropdown__item-minus dropdown__btn" id="minus" data-target="adult") -
                    input(class="dropdown__item-input" type="number" value="0" id="adultCounter")
                    button(class="dropdown__item-plus dropdown__btn" id="plus" data-target="adult") +
            li(class="dropdown__item")
                p(class="dropdown__item-text") дети
                div(class="dropdown__item-controls")
                    button(class="dropdown__item-minus dropdown__btn" id="minus" data-target="children") -
                    input(class="dropdown__item-input" type="number" value="0" id="childrenCounter")
                    button(class="dropdown__item-plus dropdown__btn" id="plus" data-target="children") +
            li(class="dropdown__item")
                p(class="dropdown__item-text") младенцы
                div(class="dropdown__item-controls")
                    button(class="dropdown__item-minus dropdown__btn" id="minus" data-target="babies") -
                    input(class="dropdown__item-input" type="number" value="0" id="babiesCounter")
                    button(class="dropdown__item-plus dropdown__btn" id="plus" data-target="babies") +
            div(class="dropdown__buttons")
                button(class="dropdown__button btn-reset")
                    span удалить
                button(class="dropdown__button btn-reset")
                    span применить