extends base

include mixin

block vars
  - var siteTitle = "Search room"

block content
  include header
  main
    section(class="room")
      div(class="room__container container")
        aside(class="room__filter")
        div(class="room__selection")
          div(class="room__selection-container")
            div(class="room__cards")
              +card
  include footer