.react-datepicker-wrapper {
  input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding: 12px 5px 12px 15px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
  }
}

.react-datepicker-popper {
  .react-datepicker__header {
    background: #fff;
    border-bottom: none;
  }
  .react-datepicker__day {
    border-radius: 50% !important;
    :hover{
      background: red;
    }
  }
  .react-datepicker__day--in-range {
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25),
      rgba(139, 164, 249, 0.25)
    );
    color: #fff !important;
  }
  .react-datepicker__day--selected {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9) !important;
    color: #fff !important;
  }
  .react-datepicker__day-name {
    color: #bc9cff;
  }
}
