.header {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 140px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 7px !important;
}

.header__details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__link {
  position: relative;
  color: rgba(31, 32, 65, 0.5);
  text-align: left;
  &-img {
    margin-left: 8px;
  }
}

.header__img {
  margin-left: 8px;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 21px;
}
