.checkbox {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 10px;

  &__title {
    color: rgb(31, 32, 65);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__text {
    margin-bottom: 5px;
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
    line-height: 18px;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__input:checked + &__span {
    background-image: url("../../assets/img/checkbox-on.svg");
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 18px;
  }

  &__span {
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/img/checkbox-off.svg");
  }
}
