.room {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    padding: 70px 0 0 140px;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,270px);
}