.room {
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 60px;
    max-width: 1160px;
  }

  &__selection-title {
    padding-bottom: 21px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 21px 12px;
  padding-bottom: 41px;
}
