.registration {
  padding: 10px 20px;
  border-radius: 22px;
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}

.registration span {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
}
