.room-details__photo {
  display: flex;
  max-height: 485px;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.room-details__information {
  grid-gap: 12px 70px;
  display: grid;
  grid-template-columns: 291px 1fr;
  padding-bottom: 71px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.room-details__photo-top {
  height: 242px;
}

.room-details__photo-bottom {
  height: 242px;
}

.room-details__container {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  padding: 70px 140px 0;
}

.dignities__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0 16px;
}

.dignities__description {
  display: flex;
  flex-direction: column;
}

.dignities__description-title {
  font-weight: 700;
  line-height: 24px;
}

.dignities__description-subtitle {
  line-height: 24px;
}

.dignities__border {
  background-color: rgba(31, 32, 65, 0.1);
  border: none;
  color: rgba(31, 32, 65, 0.1);
  height: 1px;
}

.chart {
  display: flex;
  margin-top: 20px;
  gap: 30px;

  &__grade {
    padding-top: 35px;

    &-item {
      position: relative;
      line-height: 24px;
    }

    &-item::before {
      border-radius: 8px;
      content: "";
      height: 10px;
      left: -15px;
      position: absolute;
      top: 7px;
      width: 10px;
      background: -webkit-linear-gradient(top, rgb(255, 227, 156), rgb(255, 186, 156));
    }
  }
}
