@font-face {
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    src: url("../assets/fonts/montserrat-regular.ttf") format("truetype"),
      url("../assets/fonts/montserrat-regular.woff") format("woff"),
      url("../assets/fonts/montserrat-regular.woff2") format("woff2");
  }
  
  @font-face {
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal;
    src: url("../assets/fonts/montserrat-bold.ttf") format("truetype"),
      url("../assets/fonts/montserrat-bold.woff") format("woff"),
      url("../assets/fonts/montserrat-bold.woff2") format("woff2");
  }